<h1>Welcome to Mccallen's Group</h1>
<p>
	You found the home page for the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	 application.
</p>
<p>
	<%= link_to "Sign Up Now", "#" %>
</p>
